In [98]:
install.packages("class")

Updating HTML index of packages in '.Library'
Making 'packages.html' ... done

In [99]:
library(class)

In [100]:
knndata<-read.csv("/Users/mitalibhiwande/Desktop/Lab3/german_credit_data1.csv")
head(knndata)

  X. Age Sex    Job Housing Saving.accounts Checking.account Credit.amount
1 0  67  male   2   own     NA              little           1169
2 1  22  female 2   own     little          moderate         5951
3 2  49  male   1   own     little          NA               2096
4 3  45  male   2   free    little          little           7882
5 4  53  male   2   free    little          little           4870
6 5  35  male   1   free    NA              NA               9055
  Duration Purpose             Credit.Risks
1  6       radio/TV            1
2 48       radio/TV            2
3 12       education           1
4 42       furniture/equipment 1
5 24       car                 2
6 36       education           1

In [101]:
#Data normalization
knndata$Sex<-as.numeric(knndata$Sex)
knndata$Housing<-as.numeric(knndata$Housing)
knndata$Saving.accounts<-as.numeric(knndata$Saving.accounts)
knndata$Checking.account<-as.numeric(knndata$Checking.account)
knndata$Purpose<-as.numeric(knndata$Purpose)
knndata<-na.omit(knndata)
head(knndata)

   X. Age Sex Job Housing Saving.accounts Checking.account Credit.amount
2   1 22  1   2   2       1               2                5951
4   3 45  2   2   1       1               1                7882
5   4 53  2   2   1       1               1                4870
8   7 35  2   3   3       1               2                6948
10  9 28  2   3   2       1               2                5234
11 10 25  1   2   3       1               2                1295
   Duration Purpose Credit.Risks
2  48       6       2
4  42       5       1
5  24       2       2
8  36       2       1
10 30       2       2
11 12       2       2

In [102]:
nrow(knndata)

[1] 522

In [103]:
#Divide training and testing data
n <- 1:122
train <- knndata[-n,]
test <- knndata[n,]


test.df <- knndata$Credit.Risks[n]
train.df <- knndata$Credit.Risks[-n]

knn.5 <-  knn(train, test, train.df, k=5)

## Apply knn for different sampling rates.

In [104]:
n.points<-nrow(knndata)
out=NULL
sampling.rate <-0.6
num.test.set.labels<- n.points* (1 - sampling.rate)
training<-sample(1:n.points, sampling.rate*n.points, replace=FALSE)
train<-subset(knndata[training,])

testing<-setdiff(1:n.points,training)
test<-subset(knndata[testing,])

cl<- knndata$Credit.Risks[training]
true.labels<-knndata$Credit.Risks[testing]

a<-knn(train,test,cl,k=3)
for(k in 1:20) {
  #print(k)
  predicted.labels <- knn(train,test,cl,k)
  num.incorrect.labels<-sum(predicted.labels !=true.labels)
  misclassification.rate<-num.incorrect.labels/num.test.set.labels
  #print(misclassification.rate)
  out=rbind(out,data.frame(k,misclassification.rate))
}

print(out)

    k misclassification.rate
1   1              0.4980843
2   2              0.4693487
3   3              0.4932950
4   4              0.5124521
5   5              0.4980843
6   6              0.4980843
7   7              0.5028736
8   8              0.4837165
9   9              0.5220307
10 10              0.4741379
11 11              0.4932950
12 12              0.5028736
13 13              0.5076628
14 14              0.4885057
15 15              0.4885057
16 16              0.4693487
17 17              0.4932950
18 18              0.5028736
19 19              0.4980843
20 20              0.4597701

In [105]:
n.points<-nrow(knndata)
out1=NULL
sampling.rate <-0.7
num.test.set.labels<- n.points* (1 - sampling.rate)
training<-sample(1:n.points, sampling.rate*n.points, replace=FALSE)
train<-subset(knndata[training,])

testing<-setdiff(1:n.points,training)
test<-subset(knndata[testing,])

cl<- knndata$Credit.Risks[training]
true.labels<-knndata$Credit.Risks[testing]

a<-knn(train,test,cl,k=3)
for(k in 1:20) {
  #print(k)
  predicted.labels <- knn(train,test,cl,k)
  num.incorrect.labels<-sum(predicted.labels !=true.labels)
  misclassification.rate<-num.incorrect.labels/num.test.set.labels
  #print(misclassification.rate)
  out1=rbind(out1,data.frame(misclassification.rate))
}

print(out1)

   misclassification.rate
1               0.4661558
2               0.4342273
3               0.4725415
4               0.4342273
5               0.4661558
6               0.4533844
7               0.4725415
8               0.4533844
9               0.4725415
10              0.4278416
11              0.4661558
12              0.4342273
13              0.4469987
14              0.4533844
15              0.4469987
16              0.4406130
17              0.4725415
18              0.4469987
19              0.4597701
20              0.4533844

In [106]:
n.points<-nrow(knndata)
out2=NULL
sampling.rate <-0.8
num.test.set.labels<- n.points* (1 - sampling.rate)
training<-sample(1:n.points, sampling.rate*n.points, replace=FALSE)
train<-subset(knndata[training,])

testing<-setdiff(1:n.points,training)
test<-subset(knndata[testing,])

cl<- knndata$Credit.Risks[training]
true.labels<-knndata$Credit.Risks[testing]

a<-knn(train,test,cl,k=3)
for(k in 1:20) {
  #print(k)
  predicted.labels <- knn(train,test,cl,k)
  num.incorrect.labels<-sum(predicted.labels !=true.labels)
  misclassification.rate<-num.incorrect.labels/num.test.set.labels
  #print(misclassification.rate)
  out2=rbind(out2,data.frame(misclassification.rate))
}

print(out2)

   misclassification.rate
1               0.4885057
2               0.4501916
3               0.4597701
4               0.4693487
5               0.4597701
6               0.4118774
7               0.4597701
8               0.4980843
9               0.4501916
10              0.4310345
11              0.4885057
12              0.4597701
13              0.4310345
14              0.4214559
15              0.4406130
16              0.4597701
17              0.4693487
18              0.4597701
19              0.4693487
20              0.4310345

In [107]:
n.points<-nrow(knndata)
out3=NULL
sampling.rate <-0.9
num.test.set.labels<- n.points* (1 - sampling.rate)
training<-sample(1:n.points, sampling.rate*n.points, replace=FALSE)
train<-subset(knndata[training,])

testing<-setdiff(1:n.points,training)
test<-subset(knndata[testing,])

cl<- knndata$Credit.Risks[training]
true.labels<-knndata$Credit.Risks[testing]

a<-knn(train,test,cl,k=3)
for(k in 1:20) {
  #print(k)
  predicted.labels <- knn(train,test,cl,k)
  num.incorrect.labels<-sum(predicted.labels !=true.labels)
  misclassification.rate<-num.incorrect.labels/num.test.set.labels
  #print(misclassification.rate)
  out3=rbind(out3,data.frame(misclassification.rate))
}
print(out3)

   misclassification.rate
1               0.4214559
2               0.4022989
3               0.3639847
4               0.4406130
5               0.3639847
6               0.3639847
7               0.3256705
8               0.4022989
9               0.3831418
10              0.3639847
11              0.4214559
12              0.4214559
13              0.3831418
14              0.3639847
15              0.3448276
16              0.4022989
17              0.3639847
18              0.3831418
19              0.3639847
20              0.3256705

In [108]:
n.points<-nrow(knndata)
out4=NULL
sampling.rate <-0.5
num.test.set.labels<- n.points* (1 - sampling.rate)
training<-sample(1:n.points, sampling.rate*n.points, replace=FALSE)
train<-subset(knndata[training,])

testing<-setdiff(1:n.points,training)
test<-subset(knndata[testing,])

cl<- knndata$Credit.Risks[training]
true.labels<-knndata$Credit.Risks[testing]

a<-knn(train,test,cl,k=3)
for(k in 1:20) {
  #print(k)
  predicted.labels <- knn(train,test,cl,k)
  num.incorrect.labels<-sum(predicted.labels !=true.labels)
  misclassification.rate<-num.incorrect.labels/num.test.set.labels
  #print(misclassification.rate)
  out4=rbind(out4,data.frame(misclassification.rate))
}

print(out4)

   misclassification.rate
1               0.4865900
2               0.4636015
3               0.4827586
4               0.4636015
5               0.4406130
6               0.4559387
7               0.4444444
8               0.4406130
9               0.4406130
10              0.4406130
11              0.4521073
12              0.5057471
13              0.4712644
14              0.4712644
15              0.4827586
16              0.4789272
17              0.4827586
18              0.4674330
19              0.4597701
20              0.4674330

In [109]:
output<-cbind.data.frame( out,out1,out2,out3,out4)
colnames(output)<-c("k","train=60","train=70","train=80","train=90","train=50")

## Output for k=1 to 20 where training rates vary from 50% to 90% of data

In [110]:
head(output)

  k train=60  train=70  train=80  train=90  train=50
1 1 0.4980843 0.4661558 0.4885057 0.4214559 0.4865900
2 2 0.4693487 0.4342273 0.4501916 0.4022989 0.4636015
3 3 0.4932950 0.4725415 0.4597701 0.3639847 0.4827586
4 4 0.5124521 0.4342273 0.4693487 0.4406130 0.4636015
5 5 0.4980843 0.4661558 0.4597701 0.3639847 0.4406130
6 6 0.4980843 0.4533844 0.4118774 0.3639847 0.4559387