## STEP 2: Read the csv files and answer the queries.

In [3]:
install.packages("sqldf")
install.packages("dplyr")

Updating HTML index of packages in '.Library'
Making 'packages.html' ... done

ERROR: Error in eval(expr, envir, enclos): could not find function "install.packes"

In [1]:
library(sqldf)
library(RSQLite)
library(dplyr)

Loading required package: gsubfn
Loading required package: proto
Loading required package: RSQLite

Attaching package: ‘dplyr’

The following objects are masked from ‘package:stats’:

    filter, lag

The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [2]:
players<-read.csv("players.csv")

In [3]:
teams<-read.csv("teams.csv")

## Solutions to the below questions have been obtained by computing the max() value of the occurences of data and grouping them accordingly.

## 1. Which are the top 10 players by overall rating?

In [4]:
#Method 1 using sqldf
a<-arrange(players,desc(overall_rating))
b<-sqldf("select distinct(player_api_id), player_name,max(overall_rating) as overall_rating from a group by player_api_id order by overall_rating desc")
head(b, n=10)

Loading required package: tcltk
Warning message:
“Quoted identifiers should have class SQL, use DBI::SQL() if the caller performs the quoting.”

   player_api_id player_name       overall_rating
1  30981         Lionel Messi      94
2  30717         Gianluigi Buffon  93
3  30829         Wayne Rooney      93
4  30893         Cristiano Ronaldo 93
5  39854         Xavi Hernandez    92
6  39989         Gregory Coupet    92
7  30626         Thierry Henry     91
8  30627         John Terry        91
9  30657         Iker Casillas     91
10 30723         Alessandro Nesta  91

In [6]:
#Method 2 using dplyr
a<-arrange(players,desc(overall_rating))
a<-a%>%group_by(player_name) %>%
    filter((overall_rating)==max(overall_rating))%>%
    arrange(desc(overall_rating))%>%
    distinct(overall_rating)
head(a, n=10)

   overall_rating player_name
1  94             Lionel Messi
2  93             Gianluigi Buffon
3  93             Wayne Rooney
4  93             Cristiano Ronaldo
5  92             Xavi Hernandez
6  92             Gregory Coupet
7  91             Thierry Henry
8  91             John Terry
9  91             Iker Casillas
10 91             Alessandro Nesta

## 2. Which are the top 10 goalkeepers by sum of gk attributes?

In [6]:
a<-arrange(players,desc(gk_rating))
a<-a%>%group_by(player_name) %>%
    filter((gk_rating)==max(gk_rating))%>%
    arrange(desc(gk_rating))%>%
    distinct(gk_rating)

head(a, n=10)

   gk_rating player_name
1  449       Gianluigi Buffon
2  447       Gregory Coupet
3  445       Petr Cech
4  442       Iker Casillas
5  440       Manuel Neuer
6  437       Sebastian Frey
7  436       Edwin van der Sar
8  429       David De Gea
9  428       Pepe Reina
10 426       Paul Robinson

## 3. Which are the top 10 players by number of appearances (with any team they played with)?

In [7]:
a<-arrange(players,desc(NumofAppearances))
a<-a%>%group_by(player_name) %>%
    filter((NumofAppearances)==max(NumofAppearances))%>%
    arrange(desc(NumofAppearances))%>%
    distinct(NumofAppearances)

head(a, n=10)

   NumofAppearances player_name
1  289              Steve Mandanda
2  277              Tim Howard
3  274              Hugo Lloris
4  270              Stephane Ruffier
5  269              Joe Hart
6  264              Samir Handanovic
7  260              Gorka Iraizoz Moreno
8  253              Cedric Carrasso
9  251              Manuel Neuer
10 250              Ryan Shawcross

## 4. Which are the top 10 players by number of leagues they played in?

In [8]:
a<-arrange(players,desc(numberOfLeagues))
a<-a%>%group_by(player_name) %>%
    filter((numberOfLeagues)==max(numberOfLeagues))%>%
    arrange(desc(numberOfLeagues))%>%
    distinct(numberOfLeagues)

head(a, n=10)

   numberOfLeagues player_name
1  6               Gelson Fernandes
2  5               Ricky van Wolfswinkel
3  5               Filip Djuricic
4  4               Radamel Falcao
5  4               Jonathan De Guzman
6  4               Almen Abdi
7  4               Ibrahim Afellay
8  4               Edson Braafheid
9  4               Eljero Elia
10 4               Danijel Pranjic

## 5. Which are the top 10 teams by sum of build up play attributes?

In [9]:
a<-arrange(teams,desc(build_up_play))
a<-a%>%group_by(team_long_name) %>%
    filter((build_up_play)==max(build_up_play))%>%
    arrange(desc(build_up_play))%>%
    distinct(build_up_play)

head(a, n=10)

   build_up_play team_long_name
1  209           Torino
2  205           Udinese
3  198           Fortuna Düsseldorf
4  193           Podbeskidzie Bielsko-Biała
5  192           Korona Kielce
6  190           Widzew Łódź
7  190           Carpi
8  189           FC Nantes
9  188           Sassuolo
10 188           Lazio

## 6. Which are the top 10 teams by sum of chance creation attributes?

In [10]:
a<-arrange(teams,desc(chance_creation))
a<-a%>%group_by(team_long_name) %>%
    filter((chance_creation)==max(chance_creation))%>%
    arrange(desc(chance_creation))%>%
    distinct(chance_creation)

head(a, n=10)

   chance_creation team_long_name
1  220             Lazio
2  216             SV Werder Bremen
3  215             Napoli
4  210             Bayer 04 Leverkusen
5  210             Burnley
6  210             Cardiff City
7  210             Manchester City
8  210             Aberdeen
9  210             Rangers
10 210             Tottenham Hotspur

## 7. Which are the top 10 teams by sum of defense attributes?

In [11]:
a<-arrange(teams,desc(defence))
a<-a%>%group_by(team_long_name) %>%
    filter((defence)==max(defence))%>%
    arrange(desc(defence))%>%
    distinct(defence)

head(a, n=10)

   defence team_long_name
1  210     Jagiellonia Białystok
2  210     SC Bastia
3  210     Zagłębie Lubin
4  210     Leicester City
5  210     Cardiff City
6  210     1. FC Kaiserslautern
7  210     Southampton
8  210     AS Nancy-Lorraine
9  210     Blackpool
10 210     Stade Brestois 29

## 8. Which are the top 10 teams by number of scored goals?

In [12]:
a<-arrange(teams,desc(totalteamgoals))
a<-a%>%group_by(team_long_name) %>%
    filter((totalteamgoals)==max(totalteamgoals))%>%
    arrange(desc(totalteamgoals))%>%
    distinct(totalteamgoals)

head(a, n=10)

   totalteamgoals team_long_name
1  849            FC Barcelona
2  843            Real Madrid CF
3  695            Celtic
4  653            FC Bayern Munich
5  652            PSV
6  647            Ajax
7  619            FC Basel
8  606            Manchester City
9  583            Chelsea
10 582            Manchester United

# References:
### https://cran.r-project.org/web/packages/dplyr/vignettes/introduction.html
### https://cran.r-project.org/web/packages/sqldf/sqldf.pdf